.login {
  display: flex;
  flex-direction: column;
}

.login form {
  margin: 0 auto;
}

.login input {
  width: 100%;
}

.login div {
  width: 100%;
  padding: 0;
}

.login span {
  padding: 4px 8px;
}

.login button {
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  margin: 12px 0;
}
